<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <style>

    </style>



</head>

<body>
<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/contact">Contact</a>
            <a href="/stats">Stats</a>
            <a href="/about">About</a>
            <a href="/characters">Characters</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="border_header">
            <hr>
        </div>
    </div>

</header>

<h1>Characters</h1>


<div class="row">
    <div class="column">
        <img src="/images/itachi.jpg" onclick="openModal();currentSlide(1)">
    </div>
    <div class="column">
        <img src="/images/kakashi.jpg" onclick="openModal();currentSlide(2)">
    </div>
    <div class="column">
        <img src="/images/naruto.jpg" onclick="openModal();currentSlide(3)">
    </div>
    <div class="column">
        <img src="/images/sasuke.png" onclick="openModal();currentSlide(4)">
    </div>

    <div class="column">
        <img src="/images/minato.png" onclick="openModal();currentSlide(5)">
    </div>

    <div class="column">
        <img src="/images/obito.jpg" onclick="openModal();currentSlide(6)">
    </div>

    <div class="column">
        <img src="/images/sakura.JPG" onclick="openModal();currentSlide(7)">
    </div>

    <div class="column">
        <img src="/images/killer.JPG" onclick="openModal();currentSlide(8)">
    </div>

    <div class="column">
        <img src="/images/rocklee.jpg" onclick="openModal();currentSlide(9)">
    </div>

    <div class="column">
        <img src="/images/hinata.jpg" onclick="openModal();currentSlide(10)">
    </div>

    <div class="column">
        <img src="/images/neji.jpg" onclick="openModal();currentSlide(11)">
    </div>
</div>

<div id="myModal" class="modal">

    <span class="close cursor" onclick="closeModal()">&times;</span>
    <div class="modal-content">

        <div class="mySlides">
            <div class="numbertext">1 / 11</div>
            <img src="/images/itachi.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">2 / 11</div>
            <img src="/images/kakashi.JPG">
        </div>

        <div class="mySlides">
            <div class="numbertext">3 / 11</div>
            <img src="/images/naruto.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">4 / 11</div>
            <img src="/images/sasuke.png">
        </div>

        <div class="mySlides">
            <div class="numbertext">5 / 11</div>
            <img src="/images/minato.png">
        </div>

        <div class="mySlides">
            <div class="numbertext">6 / 11</div>
            <img src="/images/obito.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">7 / 11</div>
            <img src="/images/sakura.JPG">
        </div>

        <div class="mySlides">
            <div class="numbertext">8 / 11</div>
            <img src="/images/killer.JPG">
        </div>

        <div class="mySlides">
            <div class="numbertext">9 / 11</div>
            <img src="/images/rocklee.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">10 / 11</div>
            <img src="/images/hinata.jpg">
        </div>

        <div class="mySlides">
            <div class="numbertext">11 / 11</div>
            <img src="/images/neji.jpg">
        </div>

        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

        <div class="caption-container">
            <p id="caption"></p>
        </div>


        <div class="column">
            <img class="demo cursor" src="/images/itachi.jpg" onclick="currentSlide(1)" alt="Itachi">
        </div>
        <div class="column">
            <img class="demo cursor" src="/images/kakashi.jpg" onclick="currentSlide(2)" alt="Kakashi">
        </div>
        <div class="column">
            <img class="demo cursor" src="/images/naruto.jpg" onclick="currentSlide(3)" alt="Naruto">
        </div>
        <div class="column">
            <img class="demo cursor" src="/images/sasuke.png" onclick="currentSlide(4)" alt="Sasuke">
        </div>

        <div class="column">
            <img class="demo cursor" src="/images/minato.png" onclick="currentSlide(5)" alt="Minato">
        </div>

        <div class="column">
            <img class="demo cursor" src="/images/obito.jpg" onclick="currentSlide(6)" alt="Obito">
        </div>
        <div class="column">
            <img class="demo cursor" src="/images/sakura.JPG" onclick="currentSlide(7)" alt="Sakura">
        </div>

        <div class="column">
            <img class="demo cursor" src="/images/killer.JPG" onclick="currentSlide(8)" alt="Killer B">
        </div>

        <div class="column">
            <img class="demo cursor" src="/images/rocklee.jpg" onclick="currentSlide(9)" alt="Rock Lee">
        </div>
        <div class="column">
            <img class="demo cursor" src="/images/hinata.jpg" onclick="currentSlide(10)" alt="Hinata">
        </div>
        <div class="column">
            <img class="demo cursor" src="/images/neji.jpg" onclick="currentSlide(11)" alt="Neji">
        </div>
    </div>
</div>


<!-- <div id="grid-container">

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/itachi.jpg" alt="Itachi"></div>
        <div id="caption">Itachi Uchiha</div>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/kakashi.JPG" alt="Kakashi"></div>
        <div id="caption">Kakashi Hatake</div>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/naruto.jpg" alt="Naruto"></div>
        <div id="caption"></div>
    </div>

    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/sasuke.png" alt="characters"></div>
        <div id="caption"></div>
    </div>


    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/sakura.JPG" alt="characters"></div>
        <div id="caption"></div>
    </div>


    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/characters.jpg" alt="characters"></div>
        <div id="caption"></div>
    </div>


    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/characters.jpg" alt="characters"></div>
        <div id="caption"></div>
    </div>


    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/characters.jpg" alt="characters"></div>
        <div id="caption"></div>
    </div>


    <div id="myModal" class="modal">
        <span class="close">&times;</span>
        <div class="grid-item">
            <img class="modal-content" src="/images/characters.jpg" alt="characters"></div>
        <div id="caption"></div>
    </div>
</div>
-->
<footer>
    <div id="footer_info">
        <div class="kontakt">
            <p><b>Telephone</b></p>
            <a href="tel:+454560606113">+45 60 60 61 13</a>
        </div>

        <div class="kontakt">
            <p><b>Email</b></p>
            <a href="mailto:maja.bijedic@live.dk">maja.bijedic@live.dk</a>
        </div>

        <div class="kontakt">
            <p><b>Social media</b></p>
            <a href="https://www.facebook.com/narutoofficialsns/" aria-label="facebook" class="fa fa-facebook"></a>
            <a href="https://www.instagram.com/naruto/" aria-label="instagram" class="fa fa-instagram"></a>

        </div>
    </div>
    <div class="copyright">

        <p> © Copyright 2020 - All Rights Reserved ❘ Designed by Maja Bijedić</p>
    </div>


</footer>


<script src="script.js">

</script>
</body>

</html>
