<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Characters</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="myIcons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="myIcons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="myIcons/favicon-16x16.png">
    <link rel="manifest" href="myIcons/site.webmanifest">
    <link rel="mask-icon" href="myIcons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="myIcons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="myIcons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

</head>

<body>


<header id="myTopnav">
    <div>
        <div class="topnav">
            <a href="/"></a>
            <a href="/contact">Contact</a>
            <a href="/about">Stats</a>
            <a href="/about">About</a>
            <a href="/characters">Characters</a>
            <a href="javascript:void(0);" class="icon" onclick="burgerMenu()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div id="border_header">
            <hr>
        </div>
    </div>

</header>

<footer>

    <div class="kontakt">
        <p><b>Telephone</b></p>
        <a href="tel:+45 4560606113">+45 60 60 61 13</a>
    </div>

    <div class="kontakt">
        <p><b>Email</b></p>
        <a href="mailto: maja.bijedic@live.dk">maja.bijedic@live.dk</a>
    </div>

    <div class="kontakt">
        <p><b>Social media</b></p>
        <a href="https://www.facebook.com/narutoofficialsns/" aria-label="facebook" class="fa fa-facebook"></a>
        <a href="https://www.instagram.com/naruto/" aria-label="instagram" class="fa fa-instagram"></a>

    </div>
</footer>
<script src="script.js"></script>
</body>
</html>